<!DOCTYPE html>
<html>
  <head>
    <title>Metrics</title>
    <%= javascript_include_tag "application" %>

    <script type="text/template" id="category">
      {{= name }}
    </script>

    <script type="text/template" id="categories">
      <h1>Liste des catégories</h1>
      <ul class="categories"></ul>
    </script>
  </head>

  <body>
    <div id="container"></div>
  </body>
</html>